resources/songkick_api_key.txt
resources/db.cfg
resources/facebook_access_token.txt
resources/setlist_api_key.txt
resources/20170320_vibe.html
resources/*html
providers/
output/diff*
output/manual.xlsx
.idea/
scripts/